* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
}

:root {
    --primary-color: #ffb900;
    --fonts-heading: "Sen", system-ui;
}

/* Common */
.content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.btn {
    --btn-height: 50px;

    font-size: 1.6rem;
    font-weight: 600;
    line-height: var(--btn-height);
    text-align: center;
    display: inline-block;
    min-width: 118px;
    height: var(--btn-height);
    border-radius: 999px;
}

.btn:hover {
    opacity: 0.9;
}

.ba-cham {
    --ba-cham-line: 2;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--ba-cham-line, 2);
    overflow: hidden;
}

.heading {
    font-family: var(--fonts-heading);
    font-weight: 700;
}

.desc {
    font-size: 1.8rem;
    line-height: 30px;
    color: #6b675f;
    margin-top: 22px;
}

.break-all {
    word-break: break-all;
}
/* Header */
.header {
    background-color: #fffcf4;
    border-bottom: 1px solid #fff1ca;
    position: sticky;
    top: -28px;
    z-index: 1;
}

.head-body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

.logo {
    padding: 8px 0;
}

.nav-bar {
    margin-left: auto;
}

.nav-bar ul {
    display: flex;
}

.nav-bar ul li a {
    display: inline-block;
    font-size: 1.6rem;
    color: #6b675f;
    padding: 8px 21px;
    position: relative;
}

.nav-bar ul li a:hover,
.nav-bar li.active a {
    color: #171100;
    text-shadow: 1px 0 0 currentColor;
}

.nav-bar li.active a::before {
    content: "";
    display: block;
    width: 12px;
    height: 2px;
    background-color: #171100;
    border-radius: 99px;
    position: absolute;
    left: 22px;
    bottom: 4px;
}

.head-action {
    margin-left: 50px;
}

.head-action .btn {
    background-color: #171100;
    color: #fff;
    min-width: 144px;
}

/* Hero */
.hero {
    background-color: #fffcf4;
    padding: 56px 0 65px;
}

.hero-wrap {
    display: flex;
}

/* Hero Left */
.hero-media {
    width: 48%;
    position: relative;
}

.hero-media-img {
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
    vertical-align: bottom;
}

.hero-info {
    width: 270px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    padding: 24px;
    position: absolute;
    right: 0;
    bottom: 48px;
}

.hero-info-item {
    display: flex;
    align-items: center;
}

.hero-info-item + .hero-info-item {
    margin-top: 22px;
}

.hero-info-item-left {
    display: flex;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: var(--bg-item-icon);
}

.hero-info-item-icon {
    margin: auto;
}

.hero-info-item-right {
    margin-left: 16px;
}

.hero-info-item-label {
    font-size: 1.4rem;
    line-height: 1.86;
    color: #726f68;
}

.hero-info-item-title {
    font-size: 1.8rem;
    line-height: 1.67;
    font-weight: 600;
    color: #171100;
}

/* Hero Right */
.hero-content {
    width: 52%;
    padding: 64px 0 0 130px;
}

.hero-title.heading {
    font-size: 5.8rem;
    line-height: 1.17;
    letter-spacing: -0.02em;
}

.hero-cta {
    margin: 38px 0 48px;
    display: flex;
    align-items: center;
}

.hero-cta-btn {
    --btn-height: 64px;

    background-color: var(--primary-color);
    color: #fff;
    min-width: 180px;
    height: var(--btn-height);
    line-height: var(--btn-height);
}

.hero-cta-view-video {
    margin-left: 28px;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.hero-cta-view-video-icon {
    width: 40px;
    height: 40px;
    background-color: #fff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.view-video-icon {
}

.hero-cta-view-video span {
    margin-left: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    color: #171100;
}

.hero-sub {
    display: flex;
}

.hero-sub .hero-desc + .hero-desc {
    margin-left: 28px;
}

.hero-sub .hero-desc strong {
    font-family: var(--fonts-heading);
    font-size: 44px;
    font-weight: 700;
    color: #171100;
    padding-right: 8px;
}

/* POPULAR */
/* Popular Head */
.popular {
}

.popular-wrap {
    padding: 200px 0;
}

.popular-head {
    display: flex;
    align-items: center;
}

.popular-hear-text {
}

.popular-heading.heading {
    font-size: 3.8rem;
    line-height: 4.8rem;
    letter-spacing: -0.076rem;
}

.popular-hear-text .desc {
    width: 458px;
}

.popular-head-control {
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popular-head-control-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    color: var(--primary-color);
    background-color: transparent;
}

.popular-head-control-icon + .popular-head-control-icon {
    margin-left: 18px;
}

.popular-head-control-icon:hover {
    color: #fff;
    background-color: var(--primary-color);
    cursor: pointer;
}

.popular-head-control-icon img {
    color: var(--primary-color);
}

/* Popular info */
.popular-body {
    margin-top: 55px;
    display: flex;
    gap: 30px;
}

.popular-item {
    width: 33.33%;
    border-radius: 12px;
    background-color: #fff;
    border: 1px solid #f0f0f0;
    transition: all linear 0.15s;
}

.popular-item:hover {
    transform: translateY(-4px);
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}

.popular-item-thumb {
    width: 100%;
    height: 278px;
    border-radius: 12px 12px 0px 0px;
    object-fit: cover;
    vertical-align: bottom;
    cursor: pointer;
}

.popular-item-info {
    padding: 16px 22px 22px;
    border-radius: 0 0 12px 12px;
}

.popular-item-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular-item-heading a {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 3rem;
    cursor: pointer;
}

.popular-item-rating {
    color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 400;
    display: flex;
    align-items: center;
}

.popular-item-rating .star {
    display: inline-block;
    width: 18px;
    height: 18px;
    transform: translateY(-2px);
    margin-left: 6px;
}

.popular-item-rating .value {
    margin-left: 6px;
}

.popular-item-desc {
    color: #5f5b53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.6rem;
}

.popular-item-footer {
    display: flex;
    align-items: center;
}

.price {
    margin-right: auto;
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 3rem;
}

.popular-item-buy-now {
    color: #fff;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
    border: none;
    background-color: #171100;
}

.popular-item-buy-now:hover {
    background-color: var(--primary-color);
}

/* Feedback */
.feedback {
    background-color: #2e2100;
}

.feedback-wrap {
    padding: 96px 0;
    display: flex;
    overflow: hidden;
}

.feedback-item {
    display: flex;
    width: 100%;
    flex-shrink: 0;
}

.feedback-info {
}

.feedback-avatar {
    width: 72px;
    height: 72px;
    object-fit: cover;
    border-radius: 50%;
}

.feedback-user-name {
    margin-top: 18px;
    color: #f7f7f7;
    font-family: Sen;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 3.4rem;
}

.feedback-desc {
    margin-top: 4px;
    color: #bfbcb2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.6rem;
}

.feedback-dots {
    display: flex;
    align-items: center;
    margin-top: 28px;
}

.feedback-dot {
    width: 6px;
    height: 6px;
    background-color: #634700;
    border-radius: 50%;
    margin-right: 6px;
    cursor: pointer;
}

.feedback-dot.active {
    background-color: var(--primary-color);
    cursor: default;
}

.quote {
    width: 66%;
    margin-left: auto;
}

.quote-icon {
    width: 30px;
    height: 28px;
}

.quote blockquote {
    color: #fff;
    font-size: 2.6rem;
    font-style: italic;
    line-height: 4rem;
    margin-left: 30px;
}

/* Features */
.features {
}

.features-wrap {
    padding: 200px 0;
    display: flex;
    justify-content: space-between;
}

.features-images {
    display: flex;
    gap: 0 30px;
}

.features-image {
    width: 270px;
    height: 404px;
    object-fit: cover;
    border-radius: 16px;
}

.features-image:first-child {
    margin-top: 34px;
}

.features-content {
    width: 41%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.features-heading.heading {
    color: #171100;
    font-size: 3.8rem;
    line-height: 4.8rem;
    letter-spacing: -0.076rem;
}

.features-desc {
    color: #5f5b53;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.8rem;
    margin-top: 16px;
}

.features-btn {
    min-width: 137px;
    border-radius: 26px;
    background: var(--primary-color);
    color: #fff;
    margin-top: 32px;
}
